<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/public/css/qb-common.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-flex.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-io.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-messages.css">

    <script src="/public/scripts/buttons.js" defer></script>

    <title>Logout</title>
</head>

<body>
    <?php include_once __DIR__ . '/../logo.html';?>
    <div id="content" class="flex-ccc flex-gap-020">
        <div id="logout-message" class="message flex-ccc flex-gap-020">
            <div style="text-align: center;">See you soon!</div>
            <button class="go-to-login qb-button-1" type="button">Login</button>
        </div>
    </div>
</body>

</html>