<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/qb-common.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-admin-dc.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-flex.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-io.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils.css">
    
    <script src="/public/scripts/admin/buttons.js" defer></script>

    <title>Locations</title>
</head>

<body>
    <div th:replace="~{logo.html}"></div>
    <div th:replace="~{admin/navigation-bar.html}"></div>
    <div id="content" class="grid-row-080r-auto">
        <div id="add-content" class="flex-ccc">
            <form class="location-form flex-ccc" action="/admin/locations" method="POST">
                <input type="text" id="location" class="qb-input-1" name="location" placeholder="Enter location" required>
                <button type="submit" class="qb-button-1 m-top-010">Add</button>
            </form>
        </div>
        <div id="display-content" class="flex-csc cs-full--080r p-bottom-010">
            <div th:each="item : ${items}" class="location flex-rcc m-top-005">
                <div th:text="${item.locationId}">Location ID</div>
                <div th:text="${item.locationName}">Location Name</div>
            </div>
        </div>
    </div>
</body>

</html>