<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/qb-common.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-admin-dc.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-flex.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-io.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils.css">
    
    <script src="/public/scripts/admin/buttons.js" defer></script>
    <script src="/public/scripts/admin/tickets-to-buy.js" defer></script>

    <title>Tickets</title>
</head>

<body>
    <?php include_once __DIR__ . '/../logo.html';?>
    <?php include_once __DIR__ . '/navigation-bar.html';?>
    <div id="content" class="grid-row-145r-auto">
        <div id="add-content" class="flex-ccc">
            <form class="tickets-to-buy-form flex-ccc" action="/admin/tickets" method="POST">
                <select id="provider" class="qb-select-1 m-top-0025" name="provider" required>
                    <option value="">Select</option>
                </select>
                <select id="location" class="qb-select-1 m-top-0025" name="location" required>
                    <option value="">Select</option>
                </select>
                <select id="transport-type" class="qb-select-1 m-top-0025" name="transport-type" required>
                    <option value="">Select</option>
                </select>
                <select id="ticket-type" class="qb-select-1 m-top-0025" name="ticket-type" required>
                    <option value="">Select</option>
                </select>
                <button type="submit" class="qb-button-1 m-top-010">Add</button>
            </form>
        </div>
        <div id="display-content" class="flex-csc cs-full--145r p-bottom-010">
            <?php foreach($items as $item): ?>
                <div class="ticket-to-buy flex-rcc flex-wrap m-top-005">
                    <div><?= $item->getTicketToBuyId(); ?></div>
                    <div><?= $item->getProviderName(); ?></div>
                    <div><?= $item->getLocationName(); ?></div>
                    <div><?= $item->getTransportTypeName(); ?></div>
                    <div><?= $item->getTicketTypeName(); ?></div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</body>

</html>