<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/qb-common.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-admin-dc.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-flex.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-io.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils.css">

    <script src="/public/scripts/admin/buttons.js" defer></script>

    <title>Types</title>
</head>

<body>
    <?php include_once __DIR__ . '/../logo.html';?>
    <?php include_once __DIR__ . '/navigation-bar.html';?>
    <div id="content" class="grid-row-138r-auto">
        <div id="add-content" class="flex-ccc">
            <form class="types-form flex-ccc" action="/admin/types" method="POST">
                <input type="text" id="ticket-type" class="qb-input-1 m-top-0025" name="ticket-type" placeholder="Enter transport type" required>
                <input type="number" id="interval-number" class="qb-input-1 m-top-0025" name="interval-number" placeholder="Enter interval" required>
                <select id="interval-name" class="qb-select-1 m-top-0025" name="interval-name" required>
                    <?php foreach($intervals as $interval): ?>
                        <option value="<?= $interval->getIntervalName(); ?>"><?= $interval->getIntervalName(); ?></option>
                    <?php endforeach; ?>
                </select>
                <button type="submit" class="qb-button-1 m-top-010">Add</button>
            </form>
        </div>
        <div id="display-content" class="flex-csc cs-full--138r p-bottom-010">
            <?php foreach($types as $type): ?>
                <div class="ticket-type flex-rcc m-top-005">
                    <div><?= $type->getTicketTypeId(); ?></div>
                    <div><?= $type->getTicketTypeName(); ?></div>
                    <div><?= $type->getTicketTypeExpiryInterval(); ?></div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</body>

</html>