<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/qb-common.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-messages.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-flex.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-io.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils.css">
    
    <script src="/public/scripts/buttons.js" defer></script>

    <title>Message</title>
</head>

<body>
    <?php include_once __DIR__ . '/logo.html';?>
    <div id="content" class="flex-ccc">
        <div id="message" class="message flex-ccc">
            <div style="text-align: center;"><?= $message; ?></div>
            <button class="go-to-<?= $path; ?> qb-button-1 m-top-010" type="button">Go Back</button>
        </div>
    </div>
</body>

</html>