<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" type="text/css" href="/public/css/qb-common.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-flex.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-io.css">

    <script src="/public/scripts/buttons.js" defer></script>

    
    <title>Registration</title>
</head>

<body>
    <?php include_once __DIR__ . '/../logo.html';?>
    <div id="content" class="registration-form flex-ccc">
        <form class="registration-form flex-ccc flex-gap-010" action="/auth/registration" method="POST">
            <input type="text" id="userName" class="qb-input-1" name="userName" placeholder="Enter user name" required>
            <input type="text" id="email" class="qb-input-1" name="email" placeholder="Enter email address" required>
            <input type="text" id="password" class="qb-input-1" name="password" placeholder="Enter password" required>
    
            <button type="submit" class="qb-button-1">Submit</button>
            <button class="go-to-login qb-button-1" type="button">Login</button>
        </form>
    </div>
</body>

</html>