body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(200,8,188,1) 0%, rgba(0,0,0,1) 100%);
}

#content {
    position: fixed;
    top: 20vh;
    left: 4rem;
    width: calc(100vw - 8rem);
    height: 80vh;
}

#content > * {
    position: relative;
    width: 100%;
}

@media screen and (max-width: 500px) {
    #content {
        top: 20vh;
        left: 0;
        width: 100vw;
        height: calc(80vh - 4rem);
    }
}