.flex-ccc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-ccc-and-rsb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .flex-ccc-and-rsb {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.flex-csc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-ccs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-css {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-rcc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}


.flex-gap-005 {
    gap: 0.5rem;
}
.flex-gap-010 {
    gap: 1rem;
}
.flex-gap-020 {
    gap: 2rem;
}

