<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/public/css/qb-logo.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-io.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-navigation-bar.css">
    <script src="/public/scripts/user/buttons.js" defer></script>
</head>

<body>
    <div id="navigation-bar" class="flex-ccc-and-rsb">
        <div class="qb-icon-1 go-to-dashboard">H</div>
        <div class="qb-icon-1 go-to-buy">B</div>
        <div class="qb-icon-1 go-to-available">A</div>
        <div class="qb-icon-1 go-to-expired">E</div>
        <div class="qb-icon-1 go-to-logout">Q</div>         
    </div>
</html>