<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/qb-common.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-messages.css">
    <link rel="stylesheet" type="text/css" href="/public/css/qb-utils-flex.css">
    
    <script src="/public/scripts/user/buttons.js" defer></script>
    
    <title>Dashboard</title>
</head>

<body>
    <?php include_once __DIR__ . '/../logo.html';?>
    <?php include_once __DIR__ . '/navigation-bar.html';?>
    <div id="content" class="flex-ccc">
        <div id="dashboard-message" class="message flex-ccc">
            <div style="text-align: center;">Hello <?= $name; ?>!</div>
        </div>
    </div>
</body>

</html>